*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
}

.container {
  font-family: "Oxanium", sans-serif;
  height: 40vw;
  text-align: center;
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

#question-container {
  font-weight: 500;
  margin: 50px 100px;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.start-button,
.next-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.start-button:hover {
  background-color: #85121c;
  border: 1px solid #330449;
  color: white;
}

.question-button {
  background-color: #ffffff;
  border: 1px solid #792359;
  border-color: black;
  display: block;
  width: 200px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.question-button:hover {
  background-color: #85121c;
  border: 1px solid #330449;
  color: white;
}

.timer {
  text-align: left;
  font-size: 12em;
  color: #85121c;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
